html, body {
    height: 100%;
    margin: 0;
}

#cratedigger {
    width: 800px;
    height: 600px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cratedigger-canvas canvas.grab {
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing
}

#cratedigger-loading {

}

#cratedigger-infos {
    background-color: #111111;
}

#cratedigger-record-title {

}

#cratedigger-record-artist {

}

#cratedigger-record-image {

}