html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#cratedigger {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

#cratedigger-canvas canvas.grab {
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing
}

#cratedigger-loading {
    background-color: #111111;
    z-index: 10;
    height: 100%;
    width: 100%;
}

#cratedigger-info {
    background-color: #111111;
    z-index: 5;
}

#cratedigger-record-title {
    color: #fefefe;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

#cratedigger-record-artist {
    color: #fefefe;
    font-size: 26px;
    font-weight: 700;
}

#cratedigger-record-cover {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 25px 0 50px;
}

.info-container {
    display: table;
    width: 100%;
    height: 100%;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loading-label {
    color: #fefefe;
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
}