html, body {
    height: 100%;
    margin: 0;
}

#cratedigger {
    width: 800px;
    height: 600px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cratediggerCanvas canvas.grab {
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing
}

#cratediggerLoading {

}

#cratediggerInfos {
    background-color: #111111;
}